<div class="row align-items-center py-4">
  <div class="col-lg-6 col-7">
    <h6 class="h2 text-white d-inline-block mb-0"><%= title %></h6>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
      <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item">
          <a href="/admin"><i class="fas fa-home"></i></a>
        </li>
        <% breadcrumb.forEach((item,index) => { if(index == breadcrumb.length -
        1) { %>
        <li class="breadcrumb-item active">
          <a href="<%= item.url%>"><%= item.name%></a>
        </li>
        <%} else {%>
        <li class="breadcrumb-item">
          <a href="<%= item.url%>"><%= item.name%></a>
        </li>
        <%}%> <%})%>
      </ol>
    </nav>
  </div>
</div>
