<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/head.ejs") -%>
  <body class="home-4">
    <div id="main">
      <!-- Header Start -->
      <header class="main-header home-2">
        <%- include("../layouts/navbar.ejs") -%>
      </header>
      <!-- Header End -->

      <!-- Breadcrumb Area start -->
      <%- include("../layouts/breadcumb.ejs") -%>
      <!-- Breadcrumb Area End -->
      <!-- About Area Start -->
      <section class="about-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-res-sm-50px">
              <div class="about-left-image">
                <img
                  src="https://www.blogtyrant.com/wp-content/uploads/2011/02/best-about-us-pages.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-content">
                <div class="about-title">
                  <h2>Chào mừng bạn đến với Sản vật miền núi!</h2>
                </div>
                <p class="mb-20px text-justify">
                  Trải qua hơn 1 năm hình thành và phát triển cửa hàng SẢN VẬT
                  MIỀN NÚI đã có những bước phát triển không ngừng trong việc
                  phát triển sản phẫm và kênh phân phối ra toàn thị trường trong
                  nước.
                </p>
                <p class="mb-10px text-justify">
                  Cửa hàng SẢN VẬT MIỀN NÚI được thành lập theo quyết định số
                  15A8 010967 do Phòng tài chính kế hoạch UBND thành phố Tuyên
                  Quang cấp, với chức năng:
                </p>
                <ul class="pl-3 font-italic" style="list-style: circle">
                  <li>Kinh doanh các sản phẩm trà Shan Tuyết cổ thụ</li>
                  <li>
                    Kinh doanh các loại mật ong: Khoái rừng, mật ong hoa bạc
                    hà..
                  </li>
                  <li>Kinh doanh các loại thảo dược vùng cao</li>
                  <li>Kinh doanh các loại hạt dinh dưỡng</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row mt-60px">
            <div class="col-md-4 mb-res-sm-30px">
              <div class="single-about">
                <h4>Sứ mệnh</h4>
                <p class="text-justify">
                  “Sứ mệnh của chúng tôi là trở thành một công ty kinh doanh,
                  phân phối những sản phẫm chất lượng, bổ dưỡng, tốt cho sức
                  khỏe người tiêu dùng hàng đầu Việt Nam. Phục vụ tốt nhất những
                  khách hàng trong thị trường mà chúng tôi có được”.
                </p>
                <p class="text-justify mt-2">
                  Với sứ mệnh cao cả là luôn cung cấp sản phẩm chất lượng nhằm
                  không chỉ hỗ trợ cải thiện sức khỏe, nâng cao chất lượng cuộc
                  sống của người tiêu dùng, mà còn tạo dựng sự kết nối, hàn gắn
                  yêu thương thông qua các sản phẩm quà tặng đầy ý nghĩa trong
                  các dịp lễ.
                </p>
                <p class="text-justify mt-2">
                  “Với phương châm “ Chất lượng tạo nên uy tín, uy tín tạo nên
                  thương hiệu”, đội ngũ nhân viên luôn tận tâm, nhiệt huyết
                  không chỉ trong công việc mà còn thân thiện, chu đáo, luôn
                  nghĩ cho khách hàng : ĐẾN phục vụ chu đáo, GỌI tư vấn nhiệt
                  tình, NHẬN hài lòng vui vẻ. Dù bạn ở bất cứ nới đâu, hãy để
                  cửa hàng <strong>SẢN VẬT MIỀN NÚI</strong> là một thành viên
                  của gia đình bạn!”.
                </p>
              </div>
            </div>
            <div class="col-md-4 mb-res-sm-30px">
              <div class="single-about">
                <h4>Triết lý</h4>
                <p class="text-justify mt-2">
                  Khách hàng là giá trị cơ bản của bất kỳ doanh nghiệp nào, là
                  lý do duy nhất để doanh nghiệp tồn tại và phát triển. Chính
                  sách "khách hàng là trung tâm" chỉ lối dẫn đường cho mọi hoạt
                  động của công ty.
                </p>
                <p class="text-justify mt-2">
                  Chúng tôi lắng nghe, phân tích và thấu hiểu nhu cầu của từng
                  khách hàng và áp dụng kinh nghiệm, kỹ năng, tư duy của mình để
                  giải quyết tối ưu những nhu cầu đó, giúp khách hàng tin tưởng
                  và yêu mến
                  <strong>SẢN VẬT MIÊN NÚI</strong>. Mỗi khách hàng là một viên
                  gạch xây lên giá trị của công ty.
                </p>
                <p class="text-justify mt-2">
                  Kinh tế - xã hội ngày càng phát triển, nhu cầu về sức khỏe
                  cũng vì thế mà ngày càng gia tăng và đa dạng hơn.
                  <strong>SẢN VẬT MIÊN NÚI</strong> hiểu được vai trò và trách
                  nhiệm của chính mình là hỗ trợ, cải thiện sức khỏe cũng như
                  đời sống tinh thần của người tiêu dùng ngày một được tốt hơn,
                  đồng thời cũng tạo dựng sự kết nối, gắn kết yêu thương giữa
                  người với người.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-about">
                <h4>Thông tin liên hệ</h4>
                <p>Cửa hàng SẢN VẬT MIỀN NÚI -</p>
                <p>
                  Trụ sở chính: Số 318 đường Lê Duẩn, tổ 4 phường Tân Hà, TP
                  Tuyên Quang, tỉnh Tuyên Quang
                </p>
                <p>
                  Hotline: <a href="tel:0982488882">0982488882</a> -
                  <a href="tel:0977850868">0977850868</a>
                </p>
                <p>
                  Email:
                  <a href="mailto:sanvatmiennui22@gmail.com"
                    >sanvatmiennui22@gmail.com</a
                  >
                </p>
                <p>
                  Website:
                  <a href="https://savaminu.com"> savaminu.com </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About Area End -->

      <%- include("../layouts/footer.ejs") -%>
    </div>

    <%- include("../layouts/script.ejs") -%>
  </body>
</html>
