<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/head.ejs") -%>
  <body class="home-4">
    <div id="main">
      <!-- Header Start -->
      <header class="main-header home-2">
        <%- include("../layouts/navbar.ejs") -%>
      </header>
      <!-- Header End -->

      <!-- Breadcrumb Area start -->
      <%- include("../layouts/breadcumb.ejs") -%>
      <!-- Breadcrumb Area End -->
      <!-- cart area start -->
      <div class="cart-main-area mtb-60px">
        <div class="container">
          <h3 class="cart-page-title">Giỏ hàng của bạn</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <form action="#">
                <div class="table-content table-responsive cart-table-content">
                  <table>
                    <thead>
                      <tr>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Hành động</th>
                      </tr>
                    </thead>
                    <tbody class="cart-list">
                      <tr class="cart-item">
                        <td class="product-thumbnail">
                          <a href="#"
                            ><img
                              src="/assets/images/product-image/mini-cart/1.jpg"
                              alt=""
                          /></a>
                        </td>
                        <td class="product-name">
                          <a href="#">Product Name</a>
                        </td>
                        <td class="product-price-cart">
                          <span class="amount">$60.00</span>
                        </td>
                        <td class="product-quantity">
                          <div class="cart-plus-minus">
                            <input
                              class="cart-plus-minus-box"
                              type="text"
                              name="qtybutton"
                              value="1"
                            />
                          </div>
                        </td>
                        <td class="product-subtotal">$70.00</td>
                        <td class="product-remove">
                          <a href="#"><i class="fa fa-times"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="cart-shiping-update-wrapper">
                      <div class="cart-shiping-update">
                        <a href="#">Tiếp tục mua sắm</a>
                      </div>
                      <div class="cart-clear">
                        <a href="#">Xóa tất cả hàng trong giỏ</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-12">
                  <div class="grand-totall">
                    <div class="title-wrap">
                      <h4 class="cart-bottom-title section-bg-gary-cart">
                        Giá trị giỏ hàng
                      </h4>
                    </div>
                    <h5>Tổng giá trị sản phẩm <span>$260.00</span></h5>
                    <div class="total-shipping">
                      <h5>Tiền vận chuyển</h5>
                      <ul>
                        <li>
                          <input type="checkbox" /> Standard <span>$20.00</span>
                        </li>
                        <li>
                          <input type="checkbox" /> Express <span>$30.00</span>
                        </li>
                      </ul>
                    </div>
                    <h4 class="grand-totall-title">
                      Tổng cộng <span>$260.00</span>
                    </h4>
                    <a href="/checkout">Qua trang thanh toán</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cart area end -->

      <%- include("../layouts/footer.ejs") -%>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="tab-content quickview-big-img">
                  <div id="pro-1" class="tab-pane fade show active">
                    <img
                      src="/assets/images/product-image/organic/product-11.jpg"
                      alt=""
                    />
                  </div>
                  <div id="pro-2" class="tab-pane fade">
                    <img
                      src="/assets/images/product-image/organic/product-9.jpg"
                      alt=""
                    />
                  </div>
                  <div id="pro-3" class="tab-pane fade">
                    <img
                      src="/assets/images/product-image/organic/product-20.jpg"
                      alt=""
                    />
                  </div>
                  <div id="pro-4" class="tab-pane fade">
                    <img
                      src="/assets/images/product-image/organic/product-19.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="quickview-wrap mt-15">
                  <div
                    class="quickview-slide-active owl-carousel nav owl-nav-style owl-nav-style-2"
                    role="tablist"
                  >
                    <a class="active" data-toggle="tab" href="#pro-1"
                      ><img
                        src="/assets/images/product-image/organic/product-11.jpg"
                        alt=""
                    /></a>
                    <a data-toggle="tab" href="#pro-2"
                      ><img
                        src="/assets/images/product-image/organic/product-9.jpg"
                        alt=""
                    /></a>
                    <a data-toggle="tab" href="#pro-3"
                      ><img
                        src="/assets/images/product-image/organic/product-20.jpg"
                        alt=""
                    /></a>
                    <a data-toggle="tab" href="#pro-4"
                      ><img
                        src="/assets/images/product-image/organic/product-19.jpg"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-details-content quickview-content">
                  <h2>Originals Kaval Windbr</h2>
                  <p class="reference">Reference:<span> demo_17</span></p>
                  <div class="pro-details-rating-wrap">
                    <div class="rating-product">
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                      <i class="ion-android-star"></i>
                    </div>
                    <span class="read-review"
                      ><a class="reviews" href="#">Read reviews (1)</a></span
                    >
                  </div>
                  <div class="pricing-meta">
                    <ul>
                      <li class="old-price not-cut">VND18.90</li>
                    </ul>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm
                    tempor incidid ut labore et dolore magna aliqua. Ut enim ad
                    minim venialo quis nostrud exercitation ullamco
                  </p>
                  <div class="pro-details-size-color">
                    <div class="pro-details-color-wrap">
                      <span>Color</span>
                      <div class="pro-details-color-content">
                        <ul>
                          <li class="blue"></li>
                          <li class="maroon active"></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="pro-details-quality">
                    <div class="cart-plus-minus">
                      <input
                        class="cart-plus-minus-box"
                        type="text"
                        name="qtybutton"
                        value="1"
                      />
                    </div>
                    <div class="pro-details-cart btn-hover">
                      <a href="#"> + Thêm vào giỏ</a>
                    </div>
                  </div>
                  <div class="pro-details-wish-com">
                    <div class="pro-details-wishlist">
                      <a href="#"
                        ><i class="ion-android-favorite-outline"></i>Add to
                        wishlist</a
                      >
                    </div>
                    <div class="pro-details-compare">
                      <a href="#"
                        ><i class="ion-ios-shuffle-strong"></i>Add to compare</a
                      >
                    </div>
                  </div>
                  <div class="pro-details-social-info">
                    <span>Share</span>
                    <div class="social-info">
                      <ul>
                        <li>
                          <a href="#"><i class="ion-social-facebook"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="ion-social-twitter"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="ion-social-google"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="ion-social-instagram"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
    <%- include("../layouts/script.ejs") -%>
    <script>
      async function getCartData(query) {
        let data = await fetch(`/product/search?${query}`);
        data = await data.json();
        console.log(data);
      }

      let cartListItem = JSON.parse(localStorage.getItem('cart'));
      let queryProducts = '';
      if (cartListItem) {
        cartListItem.forEach((item) => {
          queryProducts += `id=${item.productId}&`;
        });
        getCartData(queryProducts);
      }

      let cartList = document.querySelector('.cart-list');
      
    </script>
  </body>
</html>
