<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/head.ejs") -%>
  <body class="home-4">
    <div id="main">
      <!-- Header Start -->
      <header class="main-header home-2">
        <%- include("../layouts/navbar.ejs") -%>
      </header>
      <!-- Header End -->

      <!-- Breadcrumb Area start -->
      <%- include("../layouts/breadcumb.ejs") -%>
      <!-- Breadcrumb Area End -->
      <!-- cart area start -->
      <div class="cart-main-area mtb-60px">
        <div class="container">
          <h3 class="cart-page-title">Giỏ hàng của bạn</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <form action="#">
                <div class="table-content table-responsive cart-table-content">
                  <table>
                    <thead>
                      <tr>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Hành động</th>
                      </tr>
                    </thead>
                    <tbody class="cart-list">
                      <!-- <tr class="cart-item">
                        <td class="product-thumbnail">
                          <a href="#"
                            ><img
                              src="/assets/images/product-image/mini-cart/1.jpg"
                              alt=""
                          /></a>
                        </td>
                        <td class="product-name">
                          <a href="#">Product Name</a>
                        </td>
                        <td class="product-price-cart">
                          <span class="amount price-cv">$60.00</span>
                        </td>
                        <td class="product-quantity">
                          <div class="cart-plus-minus">
                            <input
                              class="cart-plus-minus-box"
                              type="text"
                              name="qtybutton"
                              value="1"
                            />
                          </div>
                        </td>
                        <td class="product-subtotal price-cv">$70.00</td>
                        <td class="product-remove">
                          <a href="#"><i class="fa fa-times"></i></a>
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="cart-shiping-update-wrapper">
                      <div class="cart-shiping-update">
                        <a href="#">Tiếp tục mua sắm</a>
                      </div>
                      <div
                        class="cart-clear"
                        role="button"
                        onclick="removeCartItem()"
                      >
                        <a href="">Xóa tất cả hàng trong giỏ</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-12">
                  <div class="grand-totall">
                    <div class="title-wrap">
                      <h4 class="cart-bottom-title section-bg-gary-cart">
                        Giá trị giỏ hàng
                      </h4>
                    </div>
                    <h5>Tổng giá trị sản phẩm <span>$260.00</span></h5>
                    <div class="total-shipping">
                      <h5>Tiền vận chuyển</h5>
                      <ul>
                        <li>
                          > Mặc định
                          <span class="price-cv">30000 VND</span>
                        </li>
                      </ul>
                    </div>
                    <h4 class="grand-totall-title">
                      Tổng cộng <span>$260.00</span>
                    </h4>
                    <a href="/checkout">Qua trang thanh toán</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cart area end -->

      <%- include("../layouts/footer.ejs") -%>
    </div>

    <script>
      async function getCartData(query) {
        let data = await fetch(`/product/search?${query}`);
        data = await data.json();
        return data;
      }

      let cartListItem = JSON.parse(localStorage.getItem('cart'));
      let queryProducts = '';
      let cartListData = [];
      let cartList = document.querySelector('.cart-list');

      let cartListHTML = '';
      if (cartListItem) {
        cartListItem.forEach((item) => {
          queryProducts += `id=${item.productId}&`;
        });

        (async () => {
          cartListData = await getCartData(queryProducts);

          cartListData.forEach((item) => {
            cartListItem.forEach((cartItem) => {
              if (item._id.toString() == cartItem.productId) {
                cartListHTML += `
                      <tr class="cart-item">
                        <td class="product-thumbnail">
                          <a href="#"
                            ><img
                              src="${item.images[0].url}"
                              alt="${item.name}"
                              style="width: 98px; height: 98px; object-fit: cover;"
                          /></a>
                        </td>
                        <td class="product-name">
                          <a href="#">${item.name}</a>
                        </td>
                        <td class="product-price-cart">
                          <span class="amount price-cv">${item.price} VND</span>
                        </td>
                        <td class="product-quantity">
                          <div class="cart-plus-minus">
                            <input
                              class="cart-plus-minus-box"
                              type="text"
                              name="qtybutton"
                              value="${cartItem.quantity}"
                            />
                          </div>
                        </td>
                        <td class="product-subtotal">
                          <p class="price-cv">
                          ${item.price * cartItem.quantity}
                          </p> VND
                        </td>
                        <td class="product-remove">
                          <div class="pointer" role="button" onclick="removeCartItem('${item._id.toString()}')"><i class="fa fa-times"></i></div>
                        </td>
                      </tr>`;
              }
            });
          });

          cartList.innerHTML = cartListHTML;
        })();
      }
    </script>

    <script>
      function removeCartItem(id) {
        if (!id) {
          localStorage.removeItem('cart');
          location.reload();
          return;
        }

        let cart = JSON.parse(localStorage.getItem('cart'));
        for (let item of cart) {
          if (item.productId == id) {
            check = true;
            cart.splice(cart.indexOf(item), 1);
            localStorage.setItem('cart', JSON.stringify(cart));
            break;
          }
        }
        location.reload();
      }
    </script>
    <%- include("../layouts/script.ejs") -%>
  </body>
</html>
