<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/head.ejs") -%>
  <body class="home-4">
    <!-- main layout start from here -->
    <!--====== PRELOADER PART START ======-->

    <!-- <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div> -->
    <div id="main">
      <!-- Header Start -->
      <header class="main-header home-2">
        <%- include("../layouts/navbar.ejs") -%>
      </header>
      <!-- Header End -->
      <!-- Breadcrumb Area start -->
      <%- include("../layouts/breadcumb.ejs") -%>
      <!-- Breadcrumb Area End -->

      <!-- contact area start -->
      <div class="contact-area mb-60px">
        <div class="container">
          <div class="custom-row-2 justify-content-center">
            <div class="col-lg-4 col-md-5">
              <div class="contact-info-wrap">
                <div class="single-contact-info">
                  <div class="contact-icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="contact-info-dec">
                    <p>0982488882</p>
                    <p>0977850868</p>
                  </div>
                </div>
                <div class="single-contact-info">
                  <div class="contact-icon">
                    <i class="fa fa-globe"></i>
                  </div>
                  <div class="contact-info-dec">
                    <p><a href="#">sanvatmiennui@gmail.com</a></p>
                  </div>
                </div>
                <div class="single-contact-info">
                  <div class="contact-icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="contact-info-dec">
                    <p>Số 318 đường Lê Duẩn,</p>
                    <p>tổ 4 phường Tân Hà,</p>
                    <p>TP Tuyên Quang, tỉnh Tuyên Quang.</p>
                  </div>
                </div>
                <div class="contact-social">
                  <h3>Follow Us</h3>
                  <div class="social-info">
                    <ul>
                      <li>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="ion-social-youtube"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-8 col-md-7">
              <div class="contact-form">
                <div class="contact-title mb-30">
                  <h2>Liên hệ với chúng tôi</h2>
                </div>
                <form
                  class="contact-form-style"
                  id="contact-form"
                  action="/assets/php/mail.php"
                  method="post"
                >
                  <div class="row">
                    <div class="col-lg-6">
                      <input name="name" placeholder="Họ tên*" type="text" />
                    </div>
                    <div class="col-lg-6">
                      <input
                        name="email"
                        placeholder="Số điện thoại*"
                        type="email"
                      />
                    </div>
                    <div class="col-lg-12">
                      <input name="email" placeholder="Email*" type="email" />
                    </div>
                    <div class="col-lg-12">
                      <textarea
                        name="message"
                        placeholder="Tin nhắn của bạn*"
                      ></textarea>
                      <button class="submit" type="submit">SEND</button>
                    </div>
                  </div>
                </form>
                <p class="form-messege"></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- contact area end -->
      <%- include("../layouts/footer.ejs") -%>
    </div>
    <%- include("../layouts/script.ejs") -%>
  </body>
</html>
