<!DOCTYPE html>
<html>
  <head>
    <%- include("../layouts/head.ejs") -%>
  </head>

  <body>
    <!-- Sidenav -->
    <%- include("../layouts/sidebar.ejs") -%>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <%- include("../layouts/navbar.ejs") -%>
      <!-- Header -->
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <%- include("../layouts/breadcrumb.ejs") -%>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card-wrapper">
              <!-- Custom form validation -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0">Tạo mới sản phẩm</h3>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8">
                      <p class="mb-0"></p>
                    </div>
                  </div>
                  <!-- <hr /> -->
                  <form class="needs-validation" novalidate method="post">
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomName"
                          >Tên sản phẩm</label
                        >
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="validationCustom01"
                          placeholder="VD: Sản phẩm 1"
                          value=""
                          required
                        />
                        <div class="invalid-feedback">Không được bỏ trống</div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustom02"
                          >Giá sản phẩm</label
                        >
                        <input
                          type="text"
                          name="price"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="VD: 350000"
                          value=""
                          required
                        />
                        <div class="invalid-feedback">Không được bỏ trống</div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomShow"
                        >
                          Loại
                        </label>
                        <select
                          class="form-control"
                          data-toggle="select"
                          name="category"
                        >
                          <option value="tea">Trà (Mặc định)</option>
                          <option value="food-spice">Đồ ăn / Gia vị</option>
                          <option value="seed-fruit">Hạt / Hoa quả sấy</option>
                          <option value="honey-medicine">
                            Mật ong / Dược liệu
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomDescription"
                          >Chi tiết</label
                        >
                        <div
                          id="description-product"
                          data-toggle="quill"
                          data-quill-placeholder="Nhập chi tiết sản phẩm"
                        ></div>
                        <input
                          id="quill-test"
                          value=""
                          name="description"
                          class="d-none"
                        />
                      </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="form-group">
                      <div class="custom-control custom-checkbox mb-3">
                        <input
                          class="custom-control-input"
                          name="show"
                          id="invalidCheck2"
                          type="checkbox"
                          checked
                        />
                        <label class="custom-control-label" for="invalidCheck2"
                          >Hiển thị sản phẩm</label
                        >
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Tạo</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <%- include("../layouts/footer.ejs") -%>
      </div>
    </div>
    <!-- Core Scripts -->
    <%- include("../layouts/core-script.ejs") -%>
    <!-- Optional JS -->
    <script src="/admin/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/admin/assets/vendor/quill/dist/quill.min.js"></script>
    <script src="/admin/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="/admin/assets/js/validation-form.js"></script>
    <script src="/admin/assets/js/quill-custom.js"></script>
    <!-- Argon Scripts -->
    <%- include("../layouts/argon-script.ejs") -%>
  </body>
</html>
