<!DOCTYPE html>
<html>
  <head>
    <%- include("../layouts/head.ejs") -%>
  </head>

  <body>
    <!-- Sidenav -->
    <%- include("../layouts/sidebar.ejs") -%>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <%- include("../layouts/navbar.ejs") -%>
      <!-- Header -->
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <%- include("../layouts/breadcrumb.ejs") -%>
            <!-- Card stats -->
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">
                          Tổng số đơn
                        </h5>
                        <span class="h2 font-weight-bold mb-0">
                          <%= orderList.length %>
                        </span>
                      </div>
                      <div class="col-auto">
                        <div
                          class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                        >
                          <i class="ni ni-active-40"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"
                        ><i class="fa fa-arrow-up"></i> 3.48%</span
                      >
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">
                          Hoàn thành
                        </h5>
                        <span class="h2 font-weight-bold mb-0"
                          ><%= overviewTab.received%></span
                        >
                      </div>
                      <div class="col-auto">
                        <div
                          class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                        >
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"
                        ><i class="fa fa-arrow-up"></i> 3.48%</span
                      >
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">
                          Đã gửi
                        </h5>
                        <span class="h2 font-weight-bold mb-0">
                          <%= overviewTab.sent%>
                        </span>
                      </div>
                      <div class="col-auto">
                        <div
                          class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                        >
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"
                        ><i class="fa fa-arrow-up"></i> 3.48%</span
                      >
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">
                          Chưa xử lý
                        </h5>
                        <span class="h2 font-weight-bold mb-0">
                          <%= overviewTab.pending%></span
                        >
                      </div>
                      <div class="col-auto">
                        <div
                          class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                        >
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"
                        ><i class="fa fa-arrow-up"></i> 3.48%</span
                      >
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--6">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card">
              <!-- Card header -->
              <% orderList.forEach(orderItem =>{ %>
              <td><%= orderItem.status %></td>
              <%})%>
              <div class="card-header">
                <h3 class="mb-0"><%= title %></h3>
                <p class="text-sm mb-0"></p>
              </div>
              <div class="table-responsive py-4">
                <table class="table table-flush" id="datatable-buttons">
                  <thead class="thead-light">
                    <tr>
                      <th>STT</th>
                      <th>Ngày đặt</th>
                      <th>Tên khách hàng</th>
                      <th>Số điện thoại</th>
                      <th>Trạng thái</th>
                      <th>Giá trị</th>
                      <th>Hành động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orderList.forEach((orderItem,indx) =>{ %>
                    <tr>
                      <td><%= indx+1 %></td>
                      <td>
                        <%= (new
                        Date(`${orderItem.createdAt}`)).toLocaleString() %>
                      </td>
                      <td><%= orderItem.name %></td>
                      <td><%= orderItem.phoneNumber %></td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <% if (orderItem.status=='sent') { %>
                          <i class="bg-info"></i>
                          <span class="status">đã gửi</span>
                          <% } else if (orderItem.status=='pending') { %>
                          <i class="bg-warning"></i>
                          <span class="status">chờ xử lý</span>
                          <% } else if (orderItem.status=='received') { %>
                          <i class="bg-success"></i>
                          <span class="status">đã nhận</span>
                          <% } else if (orderItem.status=='cancelled') { %>
                          <i class="bg-gray"></i>
                          <span class="status">đã hủy</span>
                          <% } else { %>
                          <i class="bg-danger"></i>
                          <span class="status">lỗi</span>
                          <% } %>
                        </span>
                      </td>
                      <td><%= orderItem.total %></td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a
                            class="btn btn-sm btn-icon-only text-light"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div
                            class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                          >
                            <a
                              class="dropdown-item"
                              href="/admin/order/<%= orderItem._id.toString() %>"
                              >Chỉnh sửa</a
                            >
                            <div
                              class="dropdown-item"
                              onclick="deleteOrder('<%= orderItem._id.toString()%>')"
                            >
                              Xóa
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <%- include("../layouts/footer.ejs") -%>
      </div>
    </div>
    <!-- Core Scripts -->
    <%- include("../layouts/core-script.ejs") -%>
    <!-- Optional JS -->
    <script src="/admin/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/admin/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <!-- Argon Scripts -->
    <%- include("../layouts/argon-script.ejs") -%>
    <script>
      function deleteOrder(id) {
        swal({
          title: 'Xóa đơn đặt hàng?',
          text: 'Lưu ý: Không thể hoàn tác hành động này!',
          type: 'warning',
          showCancelButton: !0,
          buttonsStyling: !1,
          confirmButtonClass: 'btn btn-danger',
          confirmButtonText: 'Xóa',
          cancelButtonClass: 'btn btn-secondary',
          cancelButtonText: 'Hủy'
        }).then((t) => {
          fetch(`/admin/order/${id}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${getCookie('accessToken')}`
            }
          })
            .then((res) => res.json())
            .then((data) => {
              if (data.status == 'Deleted successfully') {
                swal({
                  title: 'Thành công!',
                  text: 'Đơn hàng đã được xóa!',
                  type: 'success',
                  buttonsStyling: !1,
                  confirmButtonClass: 'btn btn-success',
                  confirmButtonText: 'Đóng'
                }).then((t) => {
                  location.reload();
                });
              } else {
                swal({
                  title: 'Thất bại!',
                  text: 'Có lỗi xảy ra, vui lòng thử lại!',
                  type: 'error',
                  buttonsStyling: !1,
                  confirmButtonClass: 'btn btn-danger',
                  confirmButtonText: 'Đóng'
                });
              }
            })
            .catch((err) => {
              swal({
                title: 'Thất bại!',
                text: 'Có lỗi xảy ra, vui lòng thử lại sau!',
                type: 'error',
                buttonsStyling: !1,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Đóng'
              });
            });
        });
      }
    </script>
  </body>
</html>
