<!DOCTYPE html>
<html>
  <head>
    <%- include("../layouts/head.ejs") -%>
  </head>

  <body>
    <!-- Sidenav -->
    <%- include("../layouts/sidebar.ejs") -%>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <%- include("../layouts/navbar.ejs") -%>
      <!-- Header -->
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <%- include("../layouts/breadcrumb.ejs") -%>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card-wrapper">
              <!-- Custom form validation -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0">Chi tiết đơn hàng</h3>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8">
                      <p class="mb-0"></p>
                    </div>
                  </div>
                  <!-- <hr /> -->
                  <div class="row">
                    <div class="col-12">
                      <form
                        class="needs-validation"
                        novalidate
                        method="post"
                        action="/admin/"
                      >
                        <div class="row">
                          <div class="col-12 col-lg-8">
                            <div class="form-row">
                              <div class="col-md-4 mb-3">
                                <label
                                  class="form-control-label"
                                  for="validationCustomName"
                                  >Tên khách hàng</label
                                >
                                <input
                                  type="text"
                                  name="name"
                                  class="form-control"
                                  id="validationCustom01"
                                  placeholder="VD: Nguyễn Văn A"
                                  value="<%= order.name %>"
                                  disabled
                                />
                              </div>
                              <div class="col-md-4 mb-3">
                                <label
                                  class="form-control-label"
                                  for="validationCustom02"
                                >
                                  Số điện thoại
                                </label>
                                <input
                                  type="text"
                                  name="phoneNumber"
                                  class="form-control"
                                  id="phoneNumber"
                                  placeholder="VD: 0989000000"
                                  value="<%= order.phoneNumber %>"
                                  disabled
                                />
                              </div>
                              <div class="col-md-4 mb-3">
                                <label
                                  class="form-control-label"
                                  for="validationCustom02"
                                  >Email</label
                                >
                                <input
                                  type="email"
                                  name="email"
                                  class="form-control"
                                  id="email"
                                  placeholder="VD: name@mail.com"
                                  value="<%= order.email %>"
                                  disabled
                                />
                              </div>
                              <div class="col-md-4 mb-3">
                                <label
                                  class="form-control-label"
                                  for="validationCustom02"
                                  >Tiền ship</label
                                >
                                <input
                                  type="number"
                                  name="shipPrice"
                                  class="form-control"
                                  id="shipPrice"
                                  placeholder="VD: 20000"
                                  disabled
                                />
                              </div>
                              <div class="col-md-4 mb-3">
                                <label
                                  class="form-control-label"
                                  for="validationCustom02"
                                >
                                  Địa chỉ
                                </label>
                                <input
                                  type="text"
                                  name="deliveryAddress"
                                  class="form-control"
                                  id="deliveryAddress"
                                  placeholder="VD: Thôn A, Phường B,..."
                                  value="<%= order.deliveryAddress %>"
                                  disabled
                                />
                                <div class="invalid-feedback">
                                  Không được bỏ trống
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label class="form-control-label" for="sda">
                                  Trạng thái
                                </label>
                                <select
                                  id="status"
                                  name="status"
                                  class="form-control"
                                  data-toggle="select"
                                >
                              <!-- prettier-ignore-->
                                  <option
                                    value="pending"
                                    <%= order?.status=='pending'&&'selected' %>
                                  >
                                    Chờ xử lý
                                  </option>
                              <!-- prettier-ignore-->
                                  <option
                                    value="sent"
                                    <%= order?.status=='sent'&&'selected' %>
                                  >
                                    Đã gửi hàng
                                  </option>
                              <!-- prettier-ignore-->
                                  <option
                                    value="received"
                                    <%= order?.status=='received'&&'selected' %>
                                  >
                                    Khách đã nhận
                                  </option>
                              <!-- prettier-ignore-->
                                  <option
                                    value="cancelled"
                                    <%= order?.status=='cancelled'&&'selected' %>
                                  >
                                    Đã huỷ
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="note">Ghi chú</label>
                              <!-- prettier-ignore-->
                              <textarea
                                class="form-control"
                                id="note"
                                name="note"
                                rows="5"
                              ><%= order.note %></textarea>
                            </div>
                          </div>
                          <div class="col-12 col-lg-4">
                            <label
                              class="form-control-label"
                              for="validationCustomName"
                            >
                              Giá trị đơn hàng
                            </label>
                            <div class="">
                              <ul class="p-0">
                                <% order.productList.map(product=> { %>
                                <ol class="p-0 d-flex justify-content-between">
                                  <div>
                                    <span class="font-weight-bold text-sm"
                                      >- <%=product.name %> x
                                    </span>
                                    <span
                                      class="font-weight-bold text-green text-sm"
                                      ><%=product.quantity %></span
                                    >
                                  </div>
                                  <p class="text-sm">
                                    <%= product.quantity*product.price %>VND
                                  </p>
                                </ol>
                                <% }); %>
                              </ul>
                              <div class="border-bottom border-black-50"></div>
                              <div class="d-flex justify-content-between">
                                <p class="font-weight-bold m-0 py-2 text-sm">
                                  Ship
                                </p>
                                <p class="m-0 py-2 text-sm">
                                  <%= order?.shipPrice||0 %> VND
                                </p>
                              </div>
                              <div class="border-bottom border-black-50"></div>
                              <div class="d-flex justify-content-between">
                                <p class="font-weight-bold m-0 py-2 text-sm">
                                  Tổng cộng
                                </p>
                                <p
                                  class="m-0 py-2 text-sm text-red font-weight-bold"
                                >
                                  <%= order.total %> VND
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-primary" type="submit">
                          Thay đổi
                        </button>
                        <button class="btn btn-primary" type="submit">
                          Xoá
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <%- include("../layouts/footer.ejs") -%>
      </div>
    </div>
    <!-- Core Scripts -->
    <%- include("../layouts/core-script.ejs") -%>
    <!-- Optional JS -->
    <script src="/admin/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/admin/assets/vendor/quill/dist/quill.min.js"></script>
    <script src="/admin/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="/admin/assets/js/validation-form.js"></script>
    <script src="/admin/assets/js/quill-custom.js"></script>
    <!-- Argon Scripts -->
    <%- include("../layouts/argon-script.ejs") -%>
  </body>
</html>
