<!DOCTYPE html>
<html>
  <head>
    <%- include("../layouts/head.ejs") -%>
  </head>

  <body>
    <!-- Sidenav -->
    <%- include("../layouts/sidebar.ejs") -%>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <%- include("../layouts/navbar.ejs") -%>
      <!-- Header -->
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <%- include("../layouts/breadcrumb.ejs") -%>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card-wrapper">
              <!-- Custom form validation -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header">
                  <h3 class="mb-0"><%= title%></h3>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8">
                      <p class="mb-0"></p>
                    </div>
                  </div>
                  <!-- <hr /> -->
                  <form action="/admin/product/<%= product.id%>" method="post">
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomName"
                          >Tên sản phẩm</label
                        >
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="validationCustom01"
                          placeholder="VD: Sản phẩm 1"
                          value="<%= product.name%>"
                          required
                        />
                        <div class="invalid-feedback">Không được bỏ trống</div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustom02"
                          >Giá sản phẩm</label
                        >
                        <input
                          type="text"
                          name="price"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="VD: 350000"
                          value="<%= product.price%>"
                          required
                        />
                        <div class="invalid-feedback">Không được bỏ trống</div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomShow"
                        >
                          Loại
                        </label>
                        <select
                          class="form-control"
                          data-toggle="select"
                          name="category"
                        >
                          <!-- prettier-ignore-->
                          <% categoryList.forEach((item) => { %>
                            <% if (item.value == product.category) { %>
                          <option value="<%= item.value%>" selected>
                            <%= item.name%>
                          </option>
                          <% } else { %>
                          <option value="<%= item.value%>">
                            <%= item.name%>
                          </option>
                          <% } %> <% }); %>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-6 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomDescription"
                          >Chi tiết</label
                        >
                        <div
                          id="description-product"
                          data-toggle="quill"
                          data-quill-placeholder="Nhập chi tiết sản phẩm"
                        ></div>
                        <input
                          id="quill-test"
                          value="<%= product.description %>"
                          name="description"
                          class="d-none"
                        />
                      </div>
                      <div class="col-12 col-md-6 mb-3">
                        <label
                          class="form-control-label"
                          for="validationCustomDescription"
                          >Ảnh</label
                        >
                        <div
                          class="dropzone dropzone-multiple"
                          data-toggle="dropzone"
                          data-dropzone-multiple
                          data-dropzone-url="/admin/upload"
                        >
                          <div class="fallback">
                            <div class="custom-file">
                              <input
                                type="file"
                                class="custom-file-input"
                                id="customFileUploadMultiple"
                                name="product_images"
                                multiple
                                accept="image/*"
                              />
                              <label
                                class="custom-file-label"
                                for="customFileUploadMultiple"
                                >Choose file</label
                              >
                            </div>
                          </div>
                          <ul
                            class="
                              dz-preview dz-preview-multiple
                              list-group list-group-lg list-group-flush
                            "
                          >
                            <li class="list-group-item px-0">
                              <div class="row align-items-center">
                                <div class="col-auto">
                                  <div class="avatar">
                                    <img
                                      class="avatar-img rounded"
                                      src="https://cdn.dribbble.com/users/32512/screenshots/3545667/loaader_circle_by_gleb.gif"
                                      alt=""
                                      data-dz-thumbnail
                                    />
                                  </div>
                                </div>
                                <div class="col ml--3">
                                  <h4 class="mb-1" data-dz-name>.</h4>
                                  <p class="small text-muted mb-0" data-dz-size>
                                    .
                                  </p>
                                </div>
                                <div class="col-auto">
                                  <div class="dropdown">
                                    <a
                                      href="#"
                                      class="dropdown-ellipses dropdown-toggle"
                                      role="button"
                                      data-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false"
                                    >
                                      <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div
                                      class="dropdown-menu dropdown-menu-right"
                                    >
                                      <a
                                        href="#"
                                        class="dropdown-item"
                                        data-dz-remove
                                      >
                                        Remove
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="form-group">
                      <div class="custom-control custom-checkbox mb-3">
                        <% if (product.show=='on') { %>
                        <input
                          class="custom-control-input"
                          name="show"
                          id="invalidCheck2"
                          type="checkbox"
                          checked
                        />
                        <% } else { %>
                        <input
                          class="custom-control-input"
                          name="show"
                          id="invalidCheck2"
                          type="checkbox"
                        />
                        <% } %>
                        <label class="custom-control-label" for="invalidCheck2"
                          >Hiển thị sản phẩm</label
                        >
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                      Hoàn tất
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <%- include("../layouts/footer.ejs") -%>
      </div>
    </div>
    <!-- Core Scripts -->
    <%- include("../layouts/core-script.ejs") -%>
    <!-- Optional JS -->
    <script src="/admin/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/admin/assets/vendor/quill/dist/quill.min.js"></script>
    <script src="/admin/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/admin/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="/admin/assets/js/validation-form.js"></script>
    <script src="/admin/assets/js/quill-custom.js"></script>

    <!-- Argon Scripts -->
    <%- include("../layouts/argon-script.ejs") -%>
    <script>
      let DropzonesImage = (function () {
        let $dropzone = $('[data-toggle="dropzone"]');
        let $dropzonePreview = $('.dz-preview');

        function init($this) {
          // console.log(`<%= product.images%>`);
          // let images = '<%= product.images%>';
          // let images = JSON.parse('<%= product.images%>');
          let multiple =
            $this.data('dropzone-multiple') !== undefined ? true : false;
          let preview = $this.find($dropzonePreview);
          let currentFile = undefined;

          // Init options
          let options = {
            // url: $this.data('dropzone-url'),
            url: '/admin/product/<%= product.id %>',
            paramName: 'image',
            thumbnailWidth: null,
            thumbnailHeight: null,
            previewsContainer: preview.get(0),
            previewTemplate: preview.html(),
            maxFiles: 10,
            parallelUploads: 10,
            acceptedFiles: 'image/*',
            uploadMultiple: true,
            autoProcessQueue: false,
            withCredentials: true,

            init: async function () {
              let myDropzone = this;

              let images = await fetch('/admin/product/api/<%= product.id %>')
                .then((res) => res.json())
                .then((data) => {
                  return data.images;
                });
              console.log(images);
              // Add existing images
              if (images.length) {
                images.forEach(function (image) {
                  let mockFile = {
                    id: image.id,
                    name: `${image.id.slice(5, image.id.length)}.${image.type}`,
                    size: image.size,
                    type: image.type,
                    url: image.url,
                    // previewElement: Dropzone.createElement(preview.html()),
                  };

                  // Call the default addedfile event handler
                  myDropzone.emit('addedfile', mockFile);

                  // CREATE THUMBNAIL IF THE FILE TYPE IS IMAGE
                  if (
                    image.type == 'jpg' ||
                    image.type == 'jpeg' ||
                    image.type == 'png' ||
                    image.type == 'svg'
                  ) {
                    myDropzone.emit('thumbnail', mockFile, image.url);
                    myDropzone.files.push(mockFile);
                  }

                  myDropzone.emit('complete', mockFile);
                });
              }

              // First change the button to actually tell Dropzone to process the queue.
              document
                .querySelector('button[type=submit]')
                .addEventListener('click', function (e) {
                  // Make sure that the form isn't actually being sent.
                  // e.preventDefault();
                  // e.stopPropagation();
                  myDropzone.processQueue();
                });

              this.on('addedfile', function (file) {
                if (!multiple && currentFile) {
                  this.removeFile(currentFile);
                }
                currentFile = file;
              });
            },
          };

          console.log(options);
          // Clear preview html
          preview.html('');

          // Init dropzone
          // $this.dropzone(options);
          delete $this[0].dropzone;
          $this.dropzone(options);
        }

        function globalOptions() {
          Dropzone.autoDiscover = false;
        }

        //
        // Events
        //

        if ($dropzone.length) {
          // Set global options
          globalOptions();

          // Init dropzones
          $dropzone.each(function () {
            init($(this));
          });
        }
      })();
    </script>
  </body>
</html>
